.sect {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 1rem;
}

.left {
  position: relative;
  top: 40px;
  left: 18px;
}

.rightabove {
  color: black;
  width: 70%;
  background-color: #1723372e;
  position: relative;
  left: 40px;
  top: 40px;
  border-radius: 7px;
}

.r2 {
  height: 23vh;

  background-color: #1723372e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}

.editpromodal {
  position: absolute;
  top: 3rem;
}

.editprofilebox {
  padding: 2rem;
   align-items: center;
}

.editprofilebox h2{
 padding-bottom: 3rem;
}

.ediprofileDashbord{
  display: flex;
  flex-direction: column;
  gap: 3;
}