.r1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin-bottom: 25px;
  background-color: rgba(164, 228, 253, 0.845);
  border-radius: 10px;
  height: 25vh;
}

.r1 h1 {
    display: flex;
    align-items: center;
  padding: 1rem;
}

.r1 h1 span{
  margin-left: 1.5rem;
  font-weight: bold;
  font-size: larger;
}

table {
  width: 100%;
  height: 25vh;
}

table th {
  color: #444;
  font-size: small;
  text-align: center;
  padding: 12px;
  font-size: large;
  font-weight: bold;
}

table td {
  text-align: center;
  padding: 12px;
  font-weight: bold;
  color: #444;
}

.myprofileOutlet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.r2 {
  height: 23vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  box-shadow: 0px 0px 4px 2px #cdcdcd;
}