.editbtn{
    position: relative;
    left: 739px;
    bottom: 44px;
}


.r1 h1{
   padding: 1rem;
}

table{
  width: 100%;
  height: 7vh;
  /* position: relative;
  top: 70px; */
}

table th{
    color: grey;
    font-size: small;
    /* display: flex; */
    text-align: center;
    padding: 12px;
}


table td{
    text-align: center;
    padding: 7px;
}