.mainblock {
  height: 85vh;
  width: 50%;
  margin: 10px auto;
 background-color: #1d2c4e;
 border: 0px solid;
  border-radius: 80px;
}
.mainblock h1 {
  color: var(--heading-secondary) !important;
  text-align: center;
  padding: 20px 0px;
}
.mainblock div {
  height: 30px;
  width: 70%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainblock div label {
  font-size: 20px;
}
.mainblock div input,
textarea {
  height: 40px;
  width: 300px;
  font-size: 18px;
  border: 0px solid;
  border-radius: 5px;
}

.btn {
  height: 50px;
  width: 250px;
  font-size: 18px;
  color: #1d2c4e;
  font-weight: bold;
  border: 0px solid;
  border-radius: 50px;
  margin: 0px auto; 
}

