.container {
  position: absolute;
  top: 40px;
  left: 64rem;
  background-color: #efefef;
  color: black;
  z-index: 1000 !important;
  padding: 0.8rem;
  border-radius: 0.2rem;
}
.container2 {
  position: absolute;
  top: 40px;
  left: 82.7%;
  background-color: #e7ecf7;
  color: black;
  z-index: 1000 !important;
  padding: 0.8rem;
  border-radius: 0.2rem;
}
.arrowup {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;

  border-bottom: 11px solid #e7ecf7;
  position: absolute;
  top: -5px;
  left: 24px;
}
.arrowup2 {
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;

  border-bottom: 11px solid #e7ecf7;
  position: absolute;
  top: -5px;
  left: 60px;
}
.dropList:hover {
  background: #dee9ff;
}
