.navbar {
  width: 100%;
  height: 10vh;
  display: flex;
  background-color: #1d2c4e;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 99;
}
.navbar article {
  width: 90%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoBlock {
  width: 10%;
  height: 10vh;
  display: flex;
  align-items: center;
}
.logoBlock a {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  gap: 15px;
}
.logoBlock img {
  width: 50%;
  height: 8vh;
}
.logoBlock h1 {
  font-size: 2rem;
  color: var(--text-primary) !important;
  transition: all 0.3s linear;
  font-weight: 500;
}
.logoBlock h1:hover {
  color: var(--link-hover) !important;
}
.authBlock {
  width: 20%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.authBlock a {
  color: var(--text-primary);
  transition: all 0.3s linear;
}
.authBlock a:hover {
  color: var(--text-secondary);
}
.cartIcon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.cartIcon svg {
  height: 30px;
  width: 30px;
}
.cartIcon span {
  background-color: crimson;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 14px;
  font-weight: 500;
}
