@import url("https://fonts.googleapis.com/css2?family=Syne&family=Ubuntu&family=Varela+Round&display=swap");
/*  #313132*/
:root {
  --text-primary: #adadad;
  --text-secondary: #eee;
  --heading-primary: #111;
  --heading-secondary: #8b8b8b;
  --link-hover: #f8981c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Varela Round", sans-serif;
  color: var(--text-primary);
  background-color: #fbfbfd;
}
h1,
h2,
h3 {
  font-family: "Ubuntu", sans-serif;
  color: var(--heading-primary) !important;
}
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;

  color: var(--heading-secondary) !important;
}
a {
  text-decoration: none;
  transition: all 0.2s linear;
}
a:hover {
  color: var(--link-hover) !important;
}
