.featuredProducts {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featuredProducts article {
  width: 90%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.featuredProducts article h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.cardContainer {
  width: 100%;
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  background-color: #ddd; /*Dark--->transparent*/
  margin: auto;
  justify-content: center;
  padding: 20px;
}
.productCard {
  width: 300px;
  height: 480px;

  display: flex;
  flex-direction: column;

  gap: 15px;
  background-color: #fff;
  border-radius: 10px;
  transition: all 0.3s linear;
  cursor: pointer;
}
.productCard:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px #666;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  padding: 10px;
}
.cardHeader span:nth-child(2) {
  color: var(--link-hover);
}
.cardBody {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardBody img {
  width: 100%;
  height: 260px;
  border-radius: 10px 10px 0 0;
  object-fit: contain;
  /* object-position: 0% 0%; */
}
.cardFooter {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.footerLeft {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
.footerLeft span:nth-child(2) {
  font-size: 14px;
}
.footerLeft span:nth-child(1) {
  max-height: 20px;
  overflow: hidden;
}
.footerRight {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-end;
}
.footerRight span:nth-child(1) {
  color: rgba(72, 210, 72, 0.872);
  font-size: 14px;
}
.footerRight button {
  padding: 5px;
  border: 1px solid #f8981c; /*#345cba*/
  color: #f8981c; /*#345cba*/
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s linear;
  /*dark--> background-color:transparent; */
}
.footerRight button:hover {
  background-color: var(--link-hover);
  color: var(--text-secondary);
}
.footerRight button:active{
  background-color: #eda648;
}

.footerRight svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-weight: 100;
  transition: all linear 0.2s;
  display: flex;
  align-self: flex-end;
  /* justify-content:center; */
}
.footerRight svg:hover {
  fill: red;
}
.paginationComp {
  margin-bottom: 20px;
}
