.featuredProducts {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featuredProducts article {
  width: 90%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.featuredProducts article h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.cardContainer {
  width: 100%;
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #ddd; /*Dark--->transparent*/
  margin: auto;
  justify-content: center;
  padding: 20px;
}
.productCard {
  width: 300px;
  height: 450px;
  /* padding: 20px 15px; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 15px;
  background-color: #fff;
  border-radius: 10px;
  transition: all 0.3s linear;
  cursor: pointer;
}
.productCard:hover {
  box-shadow: 0 0 10px 5px #666;
  /* 0 0 10px 9px rgb(12, 12, 12) */
  transform: scale(1.03);
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  padding: 10px;
}
.cardHeader span:nth-child(2) {
  color: var(--link-hover);
}
.cardBody {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardBody img {
  width: 100%;
  height: 260px;
  border-radius: 10px 10px 0 0;
  object-fit: contain;
  /* object-position: 0% 0%; */
}
.cardFooter {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.footerLeft {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
.footerLeft span:nth-child(2) {
  font-size: 14px;
}
.footerRight {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footerRight span:nth-child(1) {
  color: rgba(72, 210, 72, 0.872);
  font-size: 14px;
}
.footerRight button {
  padding: 5px;
  border: 1px solid #f8981c; /*#345cba*/
  color: #f8981c; /*#345cba*/
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s linear;
  /*dark--> background-color:transparent; */
}
.footerRight button:hover {
  background-color: #1d2c4e;
  color: var(--text-secondary); /* dark-->rgb(234, 232, 232)*/
}
.paginationComp {
  margin-bottom: 20px;
}
